@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="col-lg-12" src="~/Images/logo.png" alt="Alternate Text" />
    @*<h1>BitBooking Administration Page</h1>*@
    <p class="lead">Welcome to BitBooking Administration Page! Maybe you shouldn't be here ?</p>
    <p><a href="http://google.ba" class="btn btn-primary btn-lg">Take me somewhere! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Security Information</h2>
        <p>
           If you dont have account on BitBooking admin page please leave this page! All IP addresses will be saved and used if we suspect on unusuall activity on site!
        </p>
        <p><a class="btn btn-default" href="https://support.google.com/mail/answer/45938?hl=en">More about IP &raquo;</a></p>

        <img class="col-lg-12" src="http://farholidays.com/images/book-hotel.jpg" alt="Alternate Text" />
    </div>
    
</div>