
<div class="container body-content">
    <div class="destination-info">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        @{
            ViewBag.Title = "No Accomodations Found With Your Search Criteria";
        }

        <h1>No hotels found!</h1>

        @Html.ActionLink("Please try again", "Index")
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
</div>
</div>