<div class="container body-content">
    <div class="destination-info">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        @{
            ViewBag.Title = "No Available Rooms Found";
        }

        <h1>No available rooms found!</h1>

        @Html.ActionLink("Please try again", "Index");
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>