<div class="container wow animated fadeInDown">


    <center>
        <img src="http://res.cloudinary.com/bitbooking/image/upload/v1447155575/team-banner_v3wvxv.jpg" style="width:100%" alt="BitBooking About Us Photo" />
    </center>
    <hr />


   <br /><br /><br />

    <!--Our Photos Start-->

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="thumb">
            <header class="thumb-header">
                <a class="hover-img curved btn btn-inverse">
                   
                        <img class="hover-img curved" src="http://res.cloudinary.com/bitbooking/image/upload/v1447333315/maja_sjlu1k.png" height="240" alt="Alternate Text" />
                        <i class="fa fa-plus box-icon-white box-icon-border hover-icon-top-right round"></i>
                    
                </a>
            </header>
            <div class="thumb-caption">
                <center>
                    <h4 class="thumb-title">Maja Marek</h4><br />
                    <p><a href="mailto:majamarek@gmail.com" style="font-size:14px">majamarek@gmail.com</a></p>

                    <h6>
                        <wrap><strong>From:</strong> Sarajevo<br /><strong>Ocupation:</strong> Engineer of Architecture<br /><strong>Before Bit Camp:</strong> Never saw a line of code in her life. :)</wrap>
                    </h6>

                </center>

            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="thumb">
            <header class="thumb-header">
                <a class="hover-img curved btn btn-inverse">
                  
                        <img class="hover-img curved" src="http://res.cloudinary.com/bitbooking/image/upload/v1447154076/amar1_izutrk.jpg" height="240" alt="Alternate Text" />
                        <i class="fa fa-plus box-icon-white box-icon-border hover-icon-top-right round"></i>
                   
</a>
            </header>
            <div class="thumb-caption">
                <center>
                    <h4 class="thumb-title">Amar Isaković</h4><br />
                    <p><a href="mailto:amar.isakovic@gmail.com" style="font-size:14px;">amar.isakovic@gmail.com</a></p>
                    <h6><wrap><strong>From:</strong> Zenica<br /><strong>Ocupation:</strong> Certified Network Asociate<br /><strong>Before Bit Camp:</strong> Always had affinity towards programming but never had a chance to learn it properly.</wrap></h6>

                </center>

            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="thumb">
            <header class="thumb-header">
                <a class="hover-img curved btn btn-inverse">
                   
                        <img class="hover-img curved" src="http://res.cloudinary.com/bitbooking/image/upload/v1447154076/sanjin1_iaq1q3.jpg" height="240" alt="Alternate Text" />
                        <i class="fa fa-plus box-icon-white box-icon-border hover-icon-top-right round"></i>
                   
</a>
            </header>
            <div class="thumb-caption">
                <center>
                    <h4 class="thumb-title">Sanjin Osmanagić</h4><br />
                    <p><a href="mailto:sanjin.osmanagic@gmail.com" style="font-size:14px">sanjin.osmanagic@gmail.com</a></p>
                    <h6><wrap><strong>From:</strong> Sarajevo<br /><strong>Ocupation:</strong> Information Systems, BSc<br /><strong>Before Bit Camp:</strong> I wish I had pursued a degree in programming field during my formal education!</wrap></h6>

                </center>

            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="thumb">
            <header class="thumb-header">
                <a class="hover-img curved btn btn-inverse">
                   
                        <img class="hover-img curved" src="http://res.cloudinary.com/bitbooking/image/upload/v1447154076/nesad_lbxuks.jpg" height="240" alt="Alternate Text" />
                        <i class="fa fa-plus box-icon-white box-icon-border hover-icon-top-right round"></i>
                     
</a>
            </header>
            <div class="thumb-caption">
                <center>
                    <h4 class="thumb-title">Nešad Selman</h4><br />
                    <p><a href="mailto:nesadselman@gmail.com" style="font-size:14px">nesadselman@gmail.com</a></p>
                    <h6><wrap><strong>From:</strong> Prijedor<br /><strong>Ocupation:</strong> Musician, Student of Journalism<br /><strong>Before Bit Camp:</strong> I never understood Programmers jokes, now I do!</wrap></h6>

                </center>

            </div>
        </div>
    </div>


    <!--Our Photos End-->



</div>