<div class="container">
    <br /><br /><hr />
    <div class="letters">
        <center>
            <img src="https://www.paypalobjects.com/webstatic/mktg/Logo/AM_SbyPP_mc_vs_ms_ae_UK.png" alt="PayPalLogo" />
            <br />
            <h3>- Your PayPay payment has done sucessfully. BitBooking team wish you a pleasant stay! -</h3>
            <br /><br />
           
            <button class="btn btn-lg" ui-sref="profile">Back to profile page</button>
        </center>
    </div>
</div>

   
